* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    display: inline-block;
    text-decoration: none;
}

ul,ol li {
    list-style: none;
}

.container {
    width:100%;
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

body {
    
}