.main {
    

}
.page__cards {
   
}


.page__card__container {
    background:linear-gradient(45deg, rgba( 2, 123,131,0.8), rgba(53, 123,131,0.7),rgba(53, 23,131,1) );
    background-repeat: no-repeat;
}

.all__cards__container {
   
    background-image:  url(../images/111.png);
    background-repeat: no-repeat;
    background-position: left -535px bottom -280px;
    margin-top: 60px ;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    "about_card . ."
    ". project_card ."
    ". . contact_card"
    ;
    gap: 30px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
}

.cards__container {
    font-family: "Afacad Flux",sans-serif;
    border-radius: 200px;
    border: 5px solid  rgba( 2, 12,151,1) ;
    
}


/* linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)) */

.cards__container:nth-child(1) {
    grid-area: about_card;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/about_card_image.jpg);
    background-repeat: no-repeat;
    background-size: 350px 300px;

    .card__title {
        color:#fff;
        
    }

    .card__link {
        color:blue;
        opacity: 0.7;
    }
}

.cards__container:nth-child(1):hover {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(../images/about_card_image.jpg);
}

.cards__container:nth-child(2) {
    grid-area: project_card;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/project_card_image.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    margin-top: -185px;
    margin-bottom: 185px;
    .card__title {
        color:#fff;

    }

    .card__link {
        color:blue;
        opacity: 0.7;
    }
}

.cards__container:nth-child(2):hover {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(../images/project_card_image.jpg);
}

.cards__container:nth-child(3) {
 
    grid-area: contact_card;
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/contact_card_image.jpg) ;
    background-repeat: no-repeat;
    background-size:300px 350px;
    margin-top: -375px;
    margin-bottom: 375px;
    .card__title {
        color:#fff;

    }

    .card__link {
        color:blue;
        opacity: 0.7;
    }
}

.cards__container:nth-child(3):hover {
    background-image:  linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(../images/contact_card_image.jpg) ;
}

.link__card {

}

.the__card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card__title {
    color: #fff;
    margin-top: 90px;
    font-size: 34px;
}

.card__title:hover {
    opacity:0.4;
}

.card__link {
    color:blue;
    font-size: 16px;
    opacity: 0.7;
}

.card__link:hover {
    opacity:0.9;
}





@media screen and (max-width:1000px) {
    .all__cards__container {
        margin-top: 35px;
        gap:0px;
        margin-left: 150px;
    }


    .cards__container:nth-child(2) {
        margin-left: -150px;
        margin-right: 150px;
    }

    .cards__container:nth-child(3) {
        margin-left: -300px;
        margin-right: 300px;
    }
}

@media screen and (max-width:635px) {
    .all__cards__container {
       display: flex;
       flex-direction: column;
       margin-left: 0px;
    }

    .cards__container:nth-child(1) {
        background-size: 520px 630.33px;
    }

    .cards__container:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 9px;
        background-size: 520px 500px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .cards__container:nth-child(3) {
        margin-top: 1px;
        background-size: 520px 460.33px;
        background-position: top -80px ;
        margin-left: 0px;
        margin-right: 0px;
    }

    .the__card {
        align-items: center;
        justify-content: center;
    }

    .card__title {
       margin-top: 68px;
    }

    .card__link {
        margin-bottom: 68px;
    }
}